/* styles.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    background-color: #e0e0e0;
    color: #333;
    text-align: center;
}

.header {
    margin-bottom: 20px;
    padding: 100px;
    text-align: center;
    background-color: #4F6D7A; /* Light navy blue */
}


.header a {
    border-radius: 5px;
    color: #333;
    padding: 0 10px 0 10px;
    text-decoration: none;
}

.header a:hover {
    background-color: #333;
    color: #e0e0e0;
}

.page-container {
    display: flex;
    justify-content: center;
}

.mission {
    max-width: 25vw;
    padding: 0 1vw 0 1vw;
}

.contact-container {
    max-width: 500px; 
    text-align: left;
}

.contact-info {
    max-width: 300px; 
    text-align: left;
    margin-top: 50px; 
}

/*h2 {
    font-weight: bold;
    margin-bottom: 20px; 
}*/

p {
    margin-bottom: 20px; 
}

form {
    background-color: #ffffff; 
    color: #000000;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

label {
    display: block;
    margin-top: 20px; 
}

input {
    width: 100%; 
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 10px; 
    box-sizing: border-box;
    font-size: 16px;
    vertical-align: top; 
}

input[type="submit"] {
    background-color: #000; 
    color: #fff; 
    cursor: pointer;
}


.name-container {
    display: flex;
    justify-content: space-between;
}


.contact-container {
    margin-right: 100px; 
}

.blog-container {
    margin-left: 500px;
}

.blog-section {
    width: 40%;
    box-sizing: border-box;
    float: left;
    margin: 0.5%;
}

.blog-image-container {
    width: 50%;
    height: 200px; 
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.blog-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
    border-radius: 8px;
}

.blog-content {
    text-align: left;
    padding: 10px;
}

.blog-title {
    margin-top: 10px;
    margin-bottom: 5px;
}

.read-more {
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 0;
}

/* Forces second image box to be negative for adjustment */
.blog-section:nth-child(2) {
    margin-left: -10px; 
}


